/* Color llamado por su nombre... */ 
p {
    font-size: 2em;
}
.color-azul    {
    color:rgb(84, 165, 223);
}
.color-verde   {
    color:rgb(4, 54, 4);
}
.color-gris    {
    color:#3f1c1c;
}
.color-avianca {
    color:rgb(222,1,8);
}
.color-falabella {
    color: rgb(174,220,55);
}