body {
    margin: 0 4em;
}
h1 {
    text-align: center;
}
p {
    font-size: 1.5em;
    text-align: justify;
}
.espacio-letras {
    letter-spacing: 0.4em;
}
.espacio-palabras {
    word-spacing: 1.1em;
}
.espacio-lineas {
    line-height:    1.4em;
}