p {
    font: weight 800px;;
    font-family: 'Courier New', Courier, monospace;
}
h1  {
    font-style: italic;
}
h2  {
    font-size:  30px;
} 
p   {}
h3  {font-family: Verdana, Geneva, Tahoma, sans-serif;}